.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.title .brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.toclose {
  color: #9e9ea4;
  cursor: pointer;
}

.list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  color: white;
}

.sidebar-list:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list > a {
  text-decoration: none;
  color: white;
}

.sidebar-list.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 18px;
}

.icon_header {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 26px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #111111; 
  width: 260px;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  color: white;
}
